{% extends 'lek/plantillacomponente.html' %}
{% load static %}

{% block nombreComponente %} 
 <title>{{nombreM}} | L.E.K.</title>
{% endblock nombreComponente %}
      
   
                        {% block fotoComponente1 %}  
                        <a href="{% url 'monitor1'%}">
                            <img src="{{fotocomponenteM1}}" class="card-img-top" alt="componente1 ">
                        </a>
                        {% endblock fotoComponente1 %}

                    
                        {% block nombreComponente1 %}    
                          <p class="card-text"><center>{{nombreM1}}</center></p>
                          {% endblock nombreComponente1 %}


               
       
                          {% block fotoComponente2 %}  
                          <a href="{% url 'monitor2'%}">
                              <img src="{{fotocomponenteM2}}" class="card-img-top" alt="componente2 ">
                          </a>
                          {% endblock fotoComponente2 %}
                            
                            {% block nombreComponente2 %} 
                              <p class="card-text"><center>{{nombreM2}}</center></p>
                        
                              {% endblock nombreComponente2 %}

                            
                              {% block fotoComponente3 %}  
                              <a href="{% url 'monitor3'%}">
                                  <img src="{{fotocomponenteM3}}" class="card-img-top" alt="componente3 ">
                              </a>
                              {% endblock fotoComponente3 %}
                             
                            {% block nombreComponente3 %} 
                              <p class="card-text"><center>{{nombreM3}}</center></p>
                             {% endblock nombreComponente3 %}

          
                             {% block fotoComponente4 %}  
                        <a href="{% url 'monitor4'%}">
                            <img src="{{fotocomponenteM4}}" class="card-img-top" alt="componente4 ">
                        </a>
                        {% endblock fotoComponente4 %}

                    {% block nombreComponente4 %} 
                    <p class="card-text"><center>{{nombreM4}}</center></p>
                  {% endblock nombreComponente4 %}

                            
                  {% block fotoComponente5 %}  
                  <a href="{% url 'monitor5'%}">
                      <img src="{{fotocomponenteM5}}" class="card-img-top" alt="componente5 ">
                  </a>
                  {% endblock fotoComponente5 %}

                       {% block nombreComponente5 %} 
                          <p class="card-text"><center>{{nombreM5}}</center></p>
                        {% endblock nombreComponente5 %}