{% extends 'lek/plantillacomponente.html' %}
{% load static %}

{% block nombreComponente %} 
 <title>{{nombreC}} | L.E.K.</title>
{% endblock nombreComponente %}
      
   
                        {% block fotoComponente1 %}  
                        <a href="{% url 'audifono1'%}">
                            <img src="{{fotocomponente1}}" class="card-img-top" alt="componente1 ">
                        </a>
                        {% endblock fotoComponente1 %}

                    
                        {% block nombreComponente1 %}    
                          <p class="card-text"><center>{{nombreC1}}</center></p>
                          {% endblock nombreComponente1 %}


               
       
                          {% block fotoComponente2 %}  
                          <a href="{% url 'audifono2'%}">
                              <img src="{{fotocomponente2}}" class="card-img-top" alt="componente2 ">
                          </a>
                          {% endblock fotoComponente2 %}
                            
                            {% block nombreComponente2 %} 
                              <p class="card-text"><center>{{nombreC2}}</center></p>
                        
                              {% endblock nombreComponente2 %}

                            
                              {% block fotoComponente3 %}  
                              <a href="{% url 'audifono3'%}">
                                  <img src="{{fotocomponente3}}" class="card-img-top" alt="componente3 ">
                              </a>
                              {% endblock fotoComponente3 %}
                             
                            {% block nombreComponente3 %} 
                              <p class="card-text"><center>{{nombreC3}}</center></p>
                             {% endblock nombreComponente3 %}

          
                             {% block fotoComponente4 %}  
                        <a href="{% url 'audifono4'%}">
                            <img src="{{fotocomponente4}}" class="card-img-top" alt="componente4 ">
                        </a>
                        {% endblock fotoComponente4 %}

                    {% block nombreComponente4 %} 
                    <p class="card-text"><center>{{nombreC4}}</center></p>
                  {% endblock nombreComponente4 %}

                            
                  {% block fotoComponente5 %}  
                  <a href="{% url 'audifono5'%}">
                      <img src="{{fotocomponente5}}" class="card-img-top" alt="componente5 ">
                  </a>
                  {% endblock fotoComponente5 %}

                       {% block nombreComponente5 %} 
                          <p class="card-text"><center>{{nombreC5}}</center></p>
                        {% endblock nombreComponente5 %}
                       
          <!-- Reedes sociales -->    